.container {
    display: grid;
}

.box1 {
    margin: 120px auto;
    /* margin-top: 120px; */
    padding: 20px;
    /* width: auto; */
    min-width: 400px;
    max-width: 625px;
    height: auto;
}

.ImgMargin {
    margin: -80px auto;
}


#formInputs {
    display: inline-block;
    text-align: right;
}

select {
    width: 24em;
}

#DatumAnkomst,
#DatumLämning,
textarea {
    width: 23.2em;
}

#namn {
    width: 22.8em;
}

#submit {
    margin-right: 10.5em;
    width: 100px;
}

select,
#DatumAnkomst,
#DatumLämning,
textarea,
#namn {
    min-width: 100px;
    min-height: 2rem;
    font-size: 1rem
}

label {
    font-size: 1.5rem;
}

@media only screen and (min-width : 769px) {
    .container {
        display: flex;
        align-items: center;

    }

    .ImgMargin {
        margin: 10% auto;
    }


}