.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#map {
    padding-top: 150px;
    padding-bottom: 60px;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.box1 p {
    padding-top: 55px;
    font-size: 1.5em;
}

iframe {
    width: 80vw;
    height: 20em;
}

@media only screen and (min-width : 769px) {

    .box1 {
        height: fit-content;
        min-width: 60vw
    }

}