.box1 {
    margin: auto;
    margin-left: 2.5rem;
    margin-top: 100px;
    max-width: 650px;
}

div#navBarPhone {
    position: fixed;
    top: 0px;
}

#hidebar {
    position: absolute;
    top: 0;
    left: 0;
}


@media only screen and (min-device-width : 769px) {
    .box1 {
        margin-left: auto;
        min-width: 700px;
    }

    .computerCenter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}