.box1 {
    margin: auto;
    margin-top: 100px;
    margin-left: 70px;
    max-width: 80vw;
    min-width: 600px;
}

.box1 p {
    text-align: center;
}

div#navBarPhone {
    /* position: fixed; */
    top: 0px;
}

#hidebar {
    /* position: absolute; */
    top: 0;
    /* left: 0; */
}


@media only screen and (min-width : 769px) {
    .box1 {
        /* width: 100em; */
        height: 28.3rem;
        margin: auto 60px;
        margin-top: 10px;
    }

    .box1 p {
        font-size: 2rem;
    }


    .computerCenter {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        /* justify-content: center; */
        margin-top: 180px;
    }


}