.box1 {
    margin: auto;
    margin-left: 2.5rem;
    margin-top: 100px;
    max-width: 650px;
}

div#navBarPhone {
    position: fixed;
    top: 0px;
}

#hidebar {
    position: absolute;
    top: 0;
    left: 0;
}


@media only screen and (min-width : 769px) {
    .box1 {
        margin: auto;
        width: 1000rem;
        height: 28.3rem;
        margin-top: 10px;
    }

    .box1 p {
        font-size: 2rem;
    }


    .computerCenter {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }


}